# Ignore .env file containing OAuth credentials
.env

# Ignore compiled binaries
*.exe
*.out

# Ignore database files and menu pictures 
*.db
#/static/images/menu
# Ignore Go build files
/bin
/pkg

# Ignore Tailwind output
static/css/output.css

# Ignore air tmp folder
/tmp

