{{ define "header" }}
<header class="bg-gray-800 text-white shadow-md">
    <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
        <div class="text-3xl font-display font-bold text-white">Pizzeria Ristorante
            La piccola Sardegna</div>
        <ul class="flex space-x-6">
            <li><a href="/" class="hover:text-pizza-red transition duration-300">Home</a></li>
            <li><a href="/menu" class="hover:text-pizza-red transition duration-300">Menu</a></li>
            <li><a href="/order" class="hover:text-pizza-red transition duration-300">Order Online</a></li>
        </ul>
    </nav>
</header>
{{ end }}

